# Virtual environment
.venv/
venv/
ENV/
.vscode/

# Cache
.pytest_cache/
__pycache__/
*.pyc

# Credentials
.env

# State cache & allure reports
config/state.json
allure-results/
allure-history/
screenshots/